<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta nome="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sptring Boot + Thymeleaf + Materialize</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css"
    media="screen,projection" />
  <style>
    .navbar {
      background-color: rgb(238, 238, 238);
      margin: 0;
      padding: 15px;
      text-align: center;
    }

    .h5 {
      font-weight: 600 !important;
      color: rgb(114, 110, 110);
    }

    .center {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <h5 class="h5">Sptring Boot + Thymeleaf + Materialize</h5>
  </div>

  <div class="container">
    <h5>Cadastrar telefones</h5>
    <div class="row">
      <div th:each="p : ${pessoaobj}">
        <span>ID: </span><span th:text="${p.id}"></span>
        <span>, Nome: </span><span th:text="${p.nome}"></span>
        <span th:text="${p.sobrenome}"></span>
      </div>
    </div>
    <form class="col s10" th:action="@{/addfonepessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" id="formTelefone"
      method="post">
      <div class="row">
        <div class="input-field col s5">
          <input required id="numero" name="numero" type="text" class="validate"
            placeholder="Insira o número de telefone">
          <label for="numero">Número</label>
        </div>
        <div class="input-field col s5">
          <input required placeholder="Casa, comercial, celular..." id="tipo" name="tipo" type="text" class="validate">
          <label for="tipo">Tipo</label>
        </div>
      </div>
      <div class="row">
        <button type="reset" class="waves-effect waves-light btn">
          <i class="material-icons left">add</i>Resetar
        </button>
        <button type="submit" class="waves-effect waves-light btn">
          <i class="material-icons left">save</i>Salvar
        </button>
        <a href="/cadastropessoa" type="button" class="waves-effect waves-light btn">
          <i class="material-icons left"><span class="material-symbols-outlined">
              arrow_back_ios
            </span></i>Voltar
        </a>
      </div>
    </form>
    <div class="row">
      <div class="col s8">
        <table class="striped highlight">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tr th:each="t : ${telefones}">
            <td th:text="${t.numero}"></td>
            <td th:text="${t.tipo}"></td>
            <td class="row">
              <a class="col red-text" th:href="@{/deletarfonepessoa/{telefoneid}(telefoneid=${t.id})}">Excluir</a>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/materialize-css/dist/js/materialize.min.js"></script>

</body>

</html>