<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Sptring Boot + Thymeleaf + Materialize</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css"
    media="screen,projection" />
</head>

<body>
  <div class="container">
    <h1>Olá Spring Boot Thymeleaf!</h1>
    <a href="/cadastropessoa" class="waves-effect waves-light btn">
      <i class="material-icons left">add</i>Cadastrar Pessoa</a>
  </div>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>